html {
    font-size: 0.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #011e09;
    box-sizing: border-box;
    margin: 0;
}

h1,
h2,
h3,
footer {
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 7rem;
    color:cornsilk;
    width: 100%;
    background-color: #011925;
    height: 6rem;
    border: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem 0 2rem;
    margin: 0;
    background-color:  #d6fae0;;
    justify-content: center;
    width: 100%;
    min-height: 4rem;
    height: auto;
    border-radius: 0.8rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 1);
}

a:visited{
    color:rgb(224, 250, 254);
}

.nav-button {
    display: flex;
    flex: 0 1 auto;
    box-sizing: border-box;
    width: min-content;
    align-items: center;
    min-width: 8rem;
    justify-content: center;
    height: 2.5rem;
    background: linear-gradient(to bottom, rgba(248, 246, 246, 0.6), rgba(15, 87, 1, 0.301));
    background-color: #004710 ;
    border: 1px solid #ffffff;
    border-radius: 0.9rem;
    color: rgb(240, 211, 166);
    box-shadow: 0 16px 12px rgba(179, 14, 14, 0.5);
    padding: 0rem;
    font-weight: bold;
    margin: 0rem;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.1s ease;
}

.nav-button:hover {
    background-color:  rgb(230, 142, 18);
    box-shadow: 0 20px 16px rgba(5, 46, 211, 0.4);
    color: rgb(4, 59, 67);
    transform: scale(1.052);
    }

.nav-button:visited {
    color: rgb(253, 240, 221);
}

#active {
  color: rgb(241, 255, 170);
  font-weight: bold;
  border: 1px solid rgb(255, 106, 0);
  border-bottom: 3px solid orange;
}

.bio_author {
  text-align: right;
  font-style: italic;
  margin-top: 1em;
} 

.bio_main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding:  2rem 4% 4% 3rem;
    margin: 1rem 0;
    background-color:  #d6fae0;;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    min-height: 5rem;
    height: auto;
    border-radius: 0.8rem;
    text-align:justify;
    text-justify: inter-word;
    line-height: 1.7rem;
    font-size: 1.5rem;
}

#bio_title {
    align-content: center;
}

.bio_text {
    text-indent: 2rem;
}

.box_pict {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 100%;
  box-sizing: border-box;
}

#monogram {
  width: 100%;
  max-width:20rem;
  height: 20rem;
  display: block;
  margin: 3rem auto 4rem;
  background-color: #d6fae0;
  border-radius: 1rem;
}

.instructions, .work_description {
    font-size: 1.5rem;
    display:flex;
    flex-direction:column ;
    flex-wrap: wrap;
    color: white;
    background-color: #00151f;
    margin: 5%;
    border: 2px #004710;
    border-radius: 2rem;
    padding: 1.5rem 2rem 2rem 3rem;
    border: 1rem solid #d6fae0;
    text-align:justify;
    text-justify: inter-word;
    line-height: 2.5rem;
    text-indent: 2rem;
}

#linkarticle {
    color:#d6fae0;
}

.box_pict img {
  width: 100%;
  min-width: 9rem;
  max-width: 40rem;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 0.8rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

.box_pict figcaption {
  margin-top: 1rem;
  text-align: center;
  color: #011925;
  font-size: 1rem;
  font-style: bold;
}

.works_main {
  color: #011925;
  justify-content: space-between;
}

.audio_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_section {
    position: relative;
    width: 100%;
    max-width: 40rem;
    margin: auto;
    aspect-ratio: 9 / 15;
    overflow: hidden;
}

.img_section img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease;
    margin-top: 7rem;
    margin-bottom: 1rem
}

.overlay {
    opacity: 0;
    pointer-events: none;
}

.base_img {
    z-index: 1;
}

.hover1, .hover2, .hover3 {
    z-index: 2;
}

.hotspot {
    position: absolute;
    top: 0;
    height: 100%;
    width: 33.33%;
    z-index:3;
}

.hotspot1 { left: 15%; top: 30%; bottom:40%; width: 11rem;
  height: 20rem; }
.hotspot2 { left: 35%; top:65%; width: 20rem; height: 11rem;}
.hotspot3 { left: 70.66%; top:25%; width: 9rem; height: 20rem; }

.hotspot1:hover ~ .hover1,
.hotspot2:hover ~ .hover2,
.hotspot3:hover ~ .hover3 {
  opacity: 1;
}

@media (min-width: 768px) {
  .image-section {
    max-width: 800px;
  }
}

.div_p {
    display: flex;
    position: relative;
    width: 15rem;
    flex-wrap: wrap;
    height: min-content;
    background-color: antiquewhite;
    border-radius: 1rem;
    padding: 1rem;
    margin: 5rem 6rem;
}

.phover3 {
    color:#011925;
}

.audio_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
